* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 83.33%;
    margin: 10px auto 10px;
}

nav img {
    height: 50px;
}

.links {
    /* border: 1px solid blue; */
    display: flex;
    width: 25%;
    justify-content: space-between;
}

.links a {
    text-decoration: none;
    color: #707070;
    /* beef up the font size*/
}

#selected {
    color: #0B4F8D;
}

header {
    /* border: 1px solid #0B4F8D; */
    height: 295px;
    display: flex;
    margin-bottom: 140px;
}

header .content {
    /* width: 83.33%; */
    background: rgba(144, 152, 160, 0.08);
    /* border: 1px solid black; */
    height: 265px;
    width: 100%;
    margin-top: auto;
    padding: 0 8.33%;
    display: grid;
    grid-template-columns: 7fr 5fr;
    grid-template-areas: "a1 b12" "a2 b12";
    grid-template-rows: 60% 40%;
}

#a1 {
    /* border: 1px dotted yellow; */
    grid-area: a1;
}

#a1 h1 {
    color: #0B4F8D;
    font-size: 50px;
}

#a1 p {
    color: #9098A0;
    font-size: 25px;
    font-weight: bold;
}

#a2 {
    /* border: 1px dotted green; */
    grid-area: a2;
}

#a2 #button {
    width: 350px;
    height: 62px;
    /* border: 1px solid #02AEE6; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: #02AEE6;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    margin: 0 10px 0 auto;
}

#header-img {
    /* border: 1px dotted red; */
    grid-area: b12;
    display: flex;
    align-items: flex-end;
    /* align-items: center; */
    justify-content: flex-end;
}

#header-img img {
    /* height: 100%; */
    width: 75%;
    height: 115%;
    /* border: 1px solid blue; */
    /* float: right; */
}

.header2 {
    height: 157px;
    background: rgba(144, 152, 160, 0.08);
    /* border: 1px solid greenyellow; */
    margin: 0 8.33% 100px;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: "img label";
    grid-template-rows: 100%;
}

.header2-img {
    grid-area: img;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header2-img img {
    height: 129%;
}

.label {
    grid-area: label;
    /* border: 1px solid rgb(90, 50, 50); */
    color: #0B4F8D;
    display: flex;
    align-items: center;
    padding-left: 20%;
    font-size: 20px;
}